html {
  height: 100%;
}

body {
  height: 100%;
  background: #F8F8F8;
}

p {
  font-family: inherit;
}

/* Custom page header fixed to top*/
.header-container {
  position: fixed;
  top: 0px;
  width: 100%;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  text-align: left;
  font-family: Ubuntu, inherit;
}

/* Custom page footer fixed to bottom*/
.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer h5 {
  font-family: Ubuntu, inherit;
}

/* Content */
.content {
  height: 100%;

  /*header-height: 57px;
  footer-height: 36px;*/
}

/* Main controller 
    header-height: 57px;
    footer-height: 36px;
*/
.card-wrapper {
  width: 100%;
  max-width: 400px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  position: absolute;
  top: 57px;

  margin-top: 20px;
  padding: 0px 10px;
}

.card-wrapper h1 {

}

.controls-wrapper{
  width: 100%;
  max-width: 400px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  position: absolute;
  bottom: 36px;

  margin-bottom: 20px;
  padding: 0px 10px;
}

@media (min-height: 700px) {
  .card-wrapper {
    position: relative;
    height: 420px;
  }
  .controls-wrapper{
    position: relative;
  }
}

/* Spinner */
.spin-effect {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.spinner {
  font-size: 150px;
  padding-right: 13px;
}
