

/* Custom page header */
.header {
  margin-top: 85px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  text-align: right;
}

/* Custom page footer */
.footer {
  margin-top: 50px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.card-wrapper {
  height: 250px;
}

.card-wrapper h1 {
  margin-bottom: 20px;
}

