

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  text-align: left;
}

/* Custom page footer */
.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}



.card-wrapper {
  height: 220px;
  margin-top: 60px;
}

.card-wrapper h1 {
  margin-bottom: 20px;
}

.spin-effect {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.spinner {
  font-size: 150px;
}