<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header id="header">
    </header>

    <div id="content" class="golden-col-lg-wide">

      <div class="container">

        <div id="introduction">
          <div class="row">
            <div class="col-md-6">
              <img src="./img/joe.jpg" class="header-img img-hover img-circle img-responsive center-block">
            </div>
            <div class="col-md-6 text-center">
              <h1><a class="hover-link">@jomrcr</a></h1>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <p>I'm a web developer and designer currently learning Android at <a class="hover-link">Noom</a> in NYC. I'm also studying Mathematics at the <a class="hover-link">University of Waterloo</a> in Canada. Previously I worked at <a class="hover-link">Tagged</a> in San Francisco and <a class="hover-link">Bazaarvoice</a> in Austin. I grew up in Redmond, near Seattle.</p>
              <p>Twitter - Github - Email</p>
            </div>
          </div>
        </div>

        <div id="projects" class="col-md-6">
          <h2>Projects</h2>
          <ul>
            <li>Golden</li>
            <li>Waitless</li>
            <li>Tic Tac Code</li>
          </ul>
        </div>

        <div id="blog" class="col-md-6">
          <h2>Blog Posts</h2>
          <ul>
            <li>Groups vs Teams</li>
            <li>Other thing that hopefully I've written.</li>
          </ul>
        </div>

      </div>

    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>