<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div id="header">
        <h1>My Contacts</h1>
        <a href="#">Contact List</a> | <a href="#add">New Contact</a>
    </div>
    <br/>
    <div id="content">
      global: {{global}}
      <br>
      hello: {{hello}}
    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
