<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header id="header">
      <div class="header-color-block yellow"></div>
      <div class="header-color-block amber"></div>
      <div class="header-color-block orange"></div>
      <div class="header-color-block sunset"></div>
      <div class="header-color-block red"></div>
      <div class="header-color-block fuchsia"></div>
      <div class="header-color-block purple"></div>
      <div class="header-color-block indigo"></div>
      <div class="header-color-block blue"></div>
      <div class="header-color-block aqua"></div>
      <div class="header-color-block green"></div>
      <div class="header-color-block lime"></div>
      <div class="header-space"></div>
    </header>

    <div id="content">

      <div class="container">

        <div id="introduction">
          <div class="row">
            <div class="golden-col-md-narrow">
              <img src="./img/joe.jpg" class="intro-img img-hover img-circle img-responsive center-block">
            </div>
            <div class="golden-col-md-wide text-center">
              <h1 class="intro-title"><a class="hover-link">@jomrcr</a></h1>
            </div>
          </div>
          <div class="row" style="margin-top:70px;">
            <div class="golden-content center-block">
              <p>Hey folks, I'm Joe Mercer and I write code for <a class="hover-link">Noom</a> in NYC. Previously I worked at <a class="hover-link">Tagged</a> in San Francisco and <a class="hover-link">Bazaarvoice</a> in Austin. I also study math at the <a class="hover-link">University of Waterloo</a> in Canada. I grew up in Redmond, near Seattle. <a class="hover-link">Give me a hollar</a> - I love meeting new people!</p>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <h3><a>Twitter</a> - <a>Github</a> - <a>Email</a></h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="golden-col-md-narrow text-center">
            <h2>Projects</h2>
          </div>
          <div class="golden-col-md-wide">
            <p><a>Golden</a> - An open source CSS framework based on the Golden Ratio</p>
            <p><a>Waitless</a> - A food ordering system built during the Facebook hackathon</p>
            <p><a>Tic Tac Code!</a> - Play 5000 games of Tic Tac Toe in parallel by writing scripts.</a>
          </div>
        </div>

        <div class="row">
          <div class="golden-col-md-narrow golden-col-md-wide-push text-center">
            <h2>Posts</h2>
          </div>
          <div class="golden-col-md-wide golden-col-md-narrow-pull">
            <p><a>Groups vs Teams</a> - Sometimes we build groups when we really meant to build teams...</p>
            <p><a>Apples are forever</a> - Eating apples can be super enjoyable but sometimes not so...</p>
            <p><a>What? A bear!</a> - Bears are super dangerous and you should be wary when you're out in the woods...</a>
          </div>
        </div>

        <div class="row">
          <div class="golden-col-md-narrow text-center">
            <h2>Pictures</h2>
          </div>
          <div class="golden-col-md-wide">
            <p><img src="http://placehold.it/400x400" class="center-block"/></p>
            <p><img src="http://placehold.it/400x400" class="center-block"/></p>
            <p><img src="http://placehold.it/400x400" class="center-block"/></p>
            <p><img src="http://placehold.it/400x400" class="center-block"/></p>
          </div>
        </div>

      </div>

    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>