//
// Custom variables
// --------------------------------------------------


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Quicksand", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@brand-primary:         @golden-gray;

@white: #FFF;
@black: #000;

@yellow: #f2ea00;
@amber: #ebce13;
@orange: #f0aa14;
@sunset: #f08630;
@red: #f07a60;
@fuchsia: #ee78f0;
@purple: #bd90f0;
@indigo: #9092f0;
@blue: #7fbadc;
@aqua: #90f0e3;
@green: #91d271;
@lime: #c5f060;

.yellow {
	background-color: @yellow;
}
.amber {
	background-color: @amber;
}
.orange {
	background-color: @orange;
}
.sunset {
	background-color: @sunset;
}
.red {
	background-color: @red;
}
.fuchsia {
	background-color: @fuchsia;
}
.purple {
	background-color: @purple;
}
.indigo {
	background-color: @indigo;
}
.blue {
	background-color: @blue;
}
.aqua {
	background-color: @aqua;
}
.green {
	background-color: @green;
}
.lime {
	background-color: @lime;
}