.img-hover {
	opacity: .3;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: 'opacity';
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: 'opacity';
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	-webkit-backface-visibility: hidden;
	transition-duration: 0.4s;
	transition-property: 'opacity';
	transition-delay: 0s;
	transition-timing-function: linear;

	&:hover {
		opacity: 1;
		-moz-transition-duration: 0.4s;
		-moz-transition-property: 'opacity';
		-moz-transition-delay: 0s;
		-moz-transition-timing-function: linear;
		-webkit-transition-duration: 0.4s;
		-webkit-transition-property: 'opacity';
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: linear;
		-webkit-backface-visibility: hidden;
		transition-duration: 0.4s;
		transition-property: 'opacity';
		transition-delay: 0s;
		transition-timing-function: linear;
	}
}

.hover-link {
	opacity: .3;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: 'opacity';
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: 'opacity';
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	-webkit-backface-visibility: hidden;
	transition-duration: 0.4s;
	transition-property: 'opacity';
	transition-delay: 0s;
	transition-timing-function: linear;

	&:hover {
		color: @yellow;
		opacity: 1;
		-moz-transition-duration: 0.4s;
		-moz-transition-property: 'opacity';
		-moz-transition-delay: 0s;
		-moz-transition-timing-function: linear;
		-webkit-transition-duration: 0.4s;
		-webkit-transition-property: 'opacity';
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: linear;
		-webkit-backface-visibility: hidden;
		transition-duration: 0.4s;
		transition-property: 'opacity';
		transition-delay: 0s;
		transition-timing-function: linear;
	}
}

a {
	font-family: @headings-font-family;
}

.row {
	margin-top: 140px;
}

// Header
// _________

#header {
 position: fixed;
 height: 58px;
 width: 100%;
 z-index: 10;
}

.header-space {
	height: 50px;
	margin-top: 8px;
	background-color: @white;
	opacity: .9;
	border-bottom: 1px solid @golden-gray-lighter;
}

.header-color-block {
	height: 8px;
	width: 8.3333333%;
	margin: 0;
	padding: 0;
	float: left;
	opacity: 1;
}

// Content
// _________

#content {
	padding-top: 58px;
}

// # Introduction
// ________________

#introduction {
	.intro-img {
		width: 203px;
	}
	.intro-title {
		margin: 0;
		line-height: 203px;
	}
}


// # Nav
// _______

@nav-height: (1.5 * @golden-line-height-computed);
@nav-item-horizontal-spacing: @golden-line-height-computed;
@nav-vertical-margin: @golden-line-height-computed;

.nav-container {
  height: @nav-height;
  margin: @nav-vertical-margin 0px;
  text-align: center;
}

.nav {
	display: inline-block;
  padding: 0px @nav-item-horizontal-spacing;
}

.nav-item,
.nav-item a {
  display: inline-block;
  line-height: @nav-height;
  padding: 0px @nav-item-horizontal-spacing;

  font-family: @headings-font-family;
  color: @golden-gray-dark;
  font-size: @golden-font-size-large;

  &:hover,
  &.active {
  	color: @brand-primary;
  	font-weight: bold;
  	text-decoration: none;
  }
}

// # Nav-Main

.nav-container {
	.nav {
		border-top: 1px solid @golden-gray;
		border-bottom: 1px solid @golden-gray;
	}
}

// # Nav-Fixed

.nav-container.fixed {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	margin: 0px;
	background-color: @golden-gray-dark;
	color: @golden-gray-lightest;

	.nav-item a {
		color: @golden-gray-lightest;

		&.active {
	  	color: @brand-primary;
	  }
	}

	.nav {
		border: none;
	}

}