<div class="text-center">

  <div class="card-wrapper">
    <div ng-if="card">
      <h1>{{card.title}}</h1>
      <p class="lead">{{card.description}}</p>
    </div>
  </div>

  <div>
  	<span class="spinner spin-effect glyphicon glyphicon-arrow-up" ng-click="next()"></span>
  </div>

</div>

<div class="card-rating">
  <h4>Review this card:</h4>
	<div class="btn-group">
	  <button class="btn btn-lg btn-danger" ng-click="rateGood()"><span class="glyphicon glyphicon-thumbs-down"></span></button>
	  <button class="btn btn-lg btn-warning" ng-click="rateMeh()">meh</button>
	  <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-thumbs-up" ng-click="rateBad()"></span></button>
	</div>
</div>