

<div class="card-wrapper text-center">
  <div ng-if="card">
    <h1>{{card.title}}</h1>
    <p class="lead">{{card.description}}</p>
  </div>
</div>

<!-- <div>
	<span class="spinner spin-effect glyphicon glyphicon-arrow-up" ng-click="next()"></span>
</div> -->

</div>

<div class="controls-wrapper">

<div class="btn-group">

  <button ng-click="rateGood()" ng-if="!hasBeenRated" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></button>
  <button ng-if="hasBeenRated" class="btn btn-lg btn-danger disabled"><span class="glyphicon glyphicon-thumbs-down"></span></button>

  <button ng-click="rateMeh()" ng-if="!hasBeenRated" class="btn btn-lg btn-warning">meh</button>
  <button ng-if="hasBeenRated" class="btn btn-lg btn-warning disabled">meh</button>

  <button ng-click="rateBad()" ng-if="!hasBeenRated" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></button>
  <button ng-if="hasBeenRated" class="btn btn-lg btn-success disabled"><span class="glyphicon glyphicon-thumbs-up"></span></button>

</div>

<button class="btn btn-default btn-lg pull-right" ng-click="next()">Next <span class="glyphicon glyphicon-arrow-right"></span></button>


<!-- disabled -->